body{
  margin: 0;
  padding: 0;
  font-family: "Roboto","Arial", sans-serif;
  font-size: 16px;
  color: #444;
}


nav{
  background-color: #313131;
}
nav .container {
  align-items: center;
}

.nav__link {
  text-align: center;
}
.hero {
  position: relative;
}
.hero__image1{
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: auto;
}
.hero__image2{
  position: absolute;
  left: 0%;
  top: -30%;
  width: 300px;
  height: auto;
  opacity: .2;
}
.screen2 {
  margin: 120px auto;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
}
.screen2__image{
  height: auto; 
  margin: auto;
  display: block;
}
.screen2__description {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 0;
  text-align: center;
  
}
@media screen and (min-width: 720px){
  .screen2__description {
    padding: 0 110px 0 0 ;
  }
}

.screen2__txt{
  margin: auto;
}
